<mat-list-item routerLink="kecamatan">
    <a matLine>Kecamatan</a>
    <mat-icon>chevron_right</mat-icon>
</mat-list-item>
<mat-list-item routerLink="desa">
    <a matLine>Desa</a>
    <mat-icon>chevron_right</mat-icon>
</mat-list-item>
<mat-list-item routerLink="sasaran-pembangunan">
    <a matLine>Sasaran pembangunan</a>
    <mat-icon>chevron_right</mat-icon>
</mat-list-item>
<mat-list-item routerLink="dasar-hukum">
    <a matLine>Dasar Hukum</a>
    <mat-icon>chevron_right</mat-icon>
</mat-list-item>
<mat-list-item routerLink="prioritas-provinsi">
    <a matLine>Prioritas Provinsi</a>
    <mat-icon>chevron_right</mat-icon>
</mat-list-item>
<mat-list-item routerLink="prioritas-pembangunan">
    <a matLine>Prioritas Pembangunan</a>
    <mat-icon>chevron_right</mat-icon>
</mat-list-item>
<mat-list-item routerLink="standar-harga">
    <a matLine>Standar Harga</a>
    <mat-icon>chevron_right</mat-icon>
</mat-list-item>