<div class="content">
    <div class="main">
        <sub-header [title]="title" (onSearchChanged)="onSearchChanged($event)" (onDelete)="onDelete()"></sub-header>
        <div matSort class="display">
            <mat-table [dataSource]="dataSource" *ngIf="!uiClient.uiData.state.deleteState">
                <ng-container matColumnDef="kode">
                    <mat-header-cell *matHeaderCellDef mat-sort-header [style.maxWidth.px]="64">Kode</mat-header-cell>
                    <mat-cell *matCellDef="let row" [style.maxWidth.px]="64">{{row.kode}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="uraian">
                    <mat-header-cell *matHeaderCellDef>Uraian</mat-header-cell>
                    <mat-cell *matCellDef="let row">{{row.uraian}}</mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: columns;" (click)="rowSelectedHandler(row)"></mat-row>
            </mat-table>
            <mat-table [dataSource]="dataSource" *ngIf="uiClient.uiData.state.deleteState">
                <ng-container matColumnDef="kode">
                    <mat-header-cell *matHeaderCellDef mat-sort-header [style.maxWidth.px]="64">Kode</mat-header-cell>
                    <mat-cell *matCellDef="let row" [class.mat-cell-selected]="row.isSelected" [style.maxWidth.px]="64">{{row.kode}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="uraian">
                    <mat-header-cell *matHeaderCellDef>Uraian</mat-header-cell>
                    <mat-cell *matCellDef="let row" [class.mat-cell-selected]="row.isSelected">{{row.uraian}}</mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: columns;" (click)="selectionHandler(row)" [class.mat-row-selected]="row.isSelected"></mat-row>
            </mat-table>
        </div>
    </div>
    <div class="side" *ngIf="(uiClient.uiData.state.detailState || uiClient.uiData.state.createState)">
        <create-jenis-kinerja-kegiatan *ngIf="uiClient.uiData.state.createState" (onItemCreated)="onItemCreated($event)"></create-jenis-kinerja-kegiatan>
        <jenis-kinerja-kegiatan-detail *ngIf="uiClient.uiData.state.detailState" [item]="item" (onItemUpdated)="onItemUpdated($event)" (onItemDeleted)="onItemDeleted($event)"></jenis-kinerja-kegiatan-detail>
    </div>
</div>