<mat-list-item routerLink="struktur-unit">
    <a matLine>Struktur Unit</a>
    <mat-icon>chevron_right</mat-icon>
</mat-list-item>
<mat-list-item routerLink="struktur-rekening">
    <a matLine>Struktur Rekening</a>
    <mat-icon>chevron_right</mat-icon>
</mat-list-item>
<mat-list-item routerLink="golongan">
    <a matLine>Golongan</a>
    <mat-icon>chevron_right</mat-icon>
</mat-list-item>
<mat-list-item routerLink="jenis-perspektif">
    <a matLine>Jenis Perspektif</a>
    <mat-icon>chevron_right</mat-icon>
</mat-list-item>
<mat-list-item routerLink="jenis-dana">
    <a matLine>Jenis Dana</a>
    <mat-icon>chevron_right</mat-icon>
</mat-list-item>
<mat-list-item routerLink="jenis-kinerja-kegiatan">
    <a matLine>Jenis Kinerja Kegiatan</a>
    <mat-icon>chevron_right</mat-icon>
</mat-list-item>
<mat-list-item routerLink="sifat-kegiatan">
    <a matLine>Sifat Kegiatan</a>
    <mat-icon>chevron_right</mat-icon>
</mat-list-item>
<mat-list-item routerLink="jenis-standar">
    <a matLine>Jenis Standar</a>
    <mat-icon>chevron_right</mat-icon>
</mat-list-item>
