<mat-toolbar class="mat-toolbar" *ngIf="uiClient.uiData.filter.length > 0">
    <span>Kategori Data</span>
</mat-toolbar>
<div class="filter-list">
    <div class="filter-item" *ngFor="let item of uiClient.uiData.filter; let i=index;">
        <div class="filter-description">
            <span class="filter-title">{{item.category}}</span>
            <span class="filter-content">{{item.label}}</span>
        </div>
        <mat-icon class="filter-action" (click)="removeItemHandler(item)">close</mat-icon>
    </div>
</div>
<div *ngIf="uiClient.uiData.filter.length <= 0">
    <div class="filter-list">
        <mat-toolbar>Jenis Standar</mat-toolbar>
        <div class="filter-item" *ngFor="let i of listOfjenisStandar" (click)="jenisStandarSelectedHandler(i)">
            <div class="filter-description">
                <span class="filter-title">{{i.nama}}</span>
                <span class="filter-content">{{i.keterangan}}</span>
            </div>
        </div>
    </div>
</div>