<div class="wrap">
    <mat-toolbar class="mat-toolbar">
        <span class="mat-toolbar-item mat-toolbar-title-item mat-toolbar-space-item">Isi Form</span>
        <button class="mat-toolbar-item" mat-icon-button (click)="closePanelHandler()">
            <mat-icon>close</mat-icon>
        </button>
    </mat-toolbar>
    <mat-toolbar class="mat-toolbar mat-toolbar-secondary">
        <span class="mat-toolbar-space-item"></span>
        <button class="mat-toolbar-item" mat-button (click)="createHandler()">
            <mat-icon>playlist_add_check</mat-icon>
            <span>Simpan</span>
        </button>
    </mat-toolbar>
    <div class="forms">
        <mat-form-field class="mat-form-field">
            <mat-label class="mat-label">Nomor</mat-label>
            <input class="mat-input" matInput [(ngModel)]="item.nomor" />
        </mat-form-field>
        <mat-form-field class="mat-form-field">
            <mat-label class="mat-label">Nama</mat-label>
            <textarea class="mat-input" [(ngModel)]="item.nama" matInput matTextareaAutosize></textarea>
        </mat-form-field>
        <mat-form-field class="mat-form-field">
            <mat-label class="mat-label">Keterangan</mat-label>
            <textarea class="mat-input" [(ngModel)]="item.keterangan" matInput matTextareaAutosize></textarea>
        </mat-form-field>
    </div>
</div>