<mat-toolbar class="mat-toolbar">
  <span class="mat-toolbar-item mat-toolbar-title-item">{{title}}</span>
  <button *ngIf="!(uiClient.uiData.state.deleteState || uiClient.uiData.state.detailState || uiClient.uiData.state.createState)"
    class="mat-toolbar-item" mat-icon-button (click)="createStateChangesHandler()">
    <mat-icon>playlist_add</mat-icon>
  </button>
  <button *ngIf="!(uiClient.uiData.state.deleteState || uiClient.uiData.state.detailState || uiClient.uiData.state.createState)"
    class="mat-toolbar-item" mat-icon-button (click)="deleteStateChangesHandler()">
    <mat-icon>delete_sweep</mat-icon>
  </button>
  <input #search class="mat-toolbar-item mat-toolbar-space-item mat-toolbar-input-item" type="text" (keyup.enter)="searchHandler(search.value)"
    (blur)="searchHandler(search.value)" />
  <button class="mat-toolbar-item" *ngIf="uiClient.uiData.state.deleteState" mat-icon-button (click)="deleteHandler()">
    <mat-icon>delete_sweep</mat-icon>
  </button>
  <button class="mat-toolbar-item" *ngIf="uiClient.uiData.state.deleteState" mat-icon-button (click)="deleteStateChangesHandler()">
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>