<mat-toolbar class="mat-toolbar" [class.mat-toolbar-on-bin-state]="uiClient.uiData.state.deleteState && uiClient.uiData.state.binState"> 
    <span class="mat-toolbar-item mat-toolbar-title-item" [class.mat-toolbar-space-item]="uiClient.uiData.filter.length <= 0">{{title}}</span>
    <button 
        *ngIf="uiClient.uiData.filter.length > 0 && !(uiClient.uiData.state.deleteState || uiClient.uiData.state.detailState || uiClient.uiData.state.createState)" 
        class="mat-toolbar-item" 
        mat-icon-button (click)="createStateChangesHandler()">
        <mat-icon>playlist_add</mat-icon>
    </button>
    <button 
        *ngIf="uiClient.uiData.filter.length > 0 && !(uiClient.uiData.state.deleteState || uiClient.uiData.state.detailState || uiClient.uiData.state.createState)" 
        class="mat-toolbar-item" 
        mat-icon-button (click)="deleteStateChangesHandler()">
        <mat-icon>delete_sweep</mat-icon>
    </button>
    <input #search
        *ngIf="uiClient.uiData.filter.length > 0"
        class="mat-toolbar-item mat-toolbar-space-item mat-toolbar-input-item" 
        type="text"
        (keyup.enter)="searchHandler(search.value)"
        (blur)="searchHandler(search.value)" />
    <button 
        *ngIf="!(uiClient.uiData.state.deleteState || uiClient.uiData.state.detailState || uiClient.uiData.state.createState)" 
        class="mat-toolbar-item" mat-button (click)="filterStateChangesHandler()">
        <mat-icon *ngIf="!uiClient.uiData.state.filterState">chevron_left</mat-icon>
        <mat-icon *ngIf="uiClient.uiData.state.filterState">chevron_right</mat-icon>
        <span>Kategori</span>
    </button>
    <button 
        class="mat-toolbar-item" 
        *ngIf="uiClient.uiData.state.deleteState"  
        mat-icon-button (click)="deleteStateChangesHandler()"><mat-icon>close</mat-icon></button>
</mat-toolbar>