.mat-toolbar { 
    display: flex; flex-direction: row; align-items: center;
    background: #fff;
    border-bottom: 1px solid #cacaca;
}

.mat-toolbar-on-bin-state {
    border-bottom: none;
}

.mat-toolbar .mat-toolbar-item {
    margin: 0px 8px;
}

/* .mat-toolbar .mat-toolbar-item:first-child {
    margin-left: 0px;
} */

.mat-toolbar .mat-toolbar-item:last-child {
    margin-right: 0px;
}

.mat-toolbar .mat-toolbar-title-item {
    color: #007acc; font-weight: bold;
}

.mat-toolbar .mat-toolbar-space-item {
    flex: 1 1 auto;
}

.mat-toolbar .mat-toolbar-input-item {
    border: 1px solid #cacaca; border-radius: 16px;
    background: #fff; 
    padding: 6px 12px;
    outline: none;
    font-weight: bold;
}