@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css?family=Roboto');

html, body {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0; 
  background: #fafafa; 
}

.alternate-toolbar {
  display: flex; align-items: center;
  padding: 16px 8px 16px 16px;
  background: #fff;
}

.toolbar-pad-when-search {
  padding-right: 16px;
}

.alternate-toolbar .heading {
  font-size: 28px; color: #007acc; font-weight: 600;
  padding-right: 16px;
}

.hide-heading {
  display: none;
}

.alternate-toolbar .actions {
  flex: 1 1 auto;
}

.flex-actions {
  display: flex; justify-content: flex-end;
}

.alternate-toolbar .action {
  color: #007acc;
}

.alternate-sidenav-container {
  width: 100%;
  height: 100%;
}

.alternate-sidenav {
  width: 312px;
  color: #007acc;
  border-left: 1px solid #007acc;
}

.alternate-sidenav .header {
  display: flex; align-items: center;
  padding: 16px 8px 8px 16px;
}

.alternate-sidenav .header .title {
  font-weight: 600; font-size: 18px;
  flex: 1 1 auto;
}

.alternate-sidenav .content {
  padding: 0 8px;
}

.alternate-sidenav .content .form {
  color: #2d2d30;
  padding: 0 8px;
}

.alternate-sidenav .content .form .full {
  width: 100%;
}

.alternate-sidenav .content .action {
  padding: 16px 8px 0 8px;
}

.alternate-sidenav .action .primary {
  color: #007acc; font-weight: 600; 
}

.mat-header-cell {
  font-weight: bold; color: #007acc;
}

.mat-header-row {
  background: #fafafa;
}

.mat-row:hover {
  cursor: pointer; background: #fafafa;
}  

.mat-row-selected {
  background: #fff;
}

.mat-cell-selected {
  color: #007acc; font-weight: bold;
}

.content {
  display: flex; height: 100%; background: #fafafa;
}

.content .main {
  flex: 3; display: flex; flex-direction: column; align-items: stretch; overflow-y: auto;
}

/* .content .main .card {
  padding: 0px 0px 16px 0px;
  border-bottom: 1px solid #cacaca;
} */

.content .main .display {
  flex: 1;
}

.content .main .collapse-display {
  display: none;
}

.content .main .snackbar {
  display: flex; flex-direction: row;  border-top: 1px solid #cacaca;
  justify-content: center; background: #fff;
}

.content .main .snackbar-extras {
  border-top: none; border-bottom: 1px solid #cacaca;
}

.content .main .snackbar .item {
  margin: 0px 8px; 
}

/* .content .main .snackbar .item:first-child {
  margin-left: 0px;
} */

.content .main .snackbar .item:last-child {
  margin-right: 0px;
}

.content .main .snackbar .title {
  font-size: 14px; font-weight: bold;
}

.content .main .snackbar .space {
  flex: 1 1 auto;
}

.content .main .snackbar-content {
  flex: 1; overflow: auto; background: #fff;
}

.content .main .snackbar-content .item {
  font-size: 16px;
}

.content .side {
  flex: 1; display: flex; flex-direction: column; border-left: 1px solid #cacaca;
  background: #fff; overflow-y: auto;
}

/* side */

.content .side .mat-form-field {
    width: 100%;
}
.content .side .mat-form-field .mat-label {
    font-weight: bold; color: #007acc;
}
.content .side .mat-form-field .mat-input {
    padding: 4px 0px 0px 0px; font-size: 14px; font-weight: 500;
}

.content .side .mat-toolbar {
    display: flex; flex-direction: row; align-items: center;
    background: #fff;
}

.content .side .mat-toolbar-secondary {
    padding-bottom: 16px;
}

.content .side .mat-toolbar .mat-toolbar-item {
    margin: 0 4px;
}

.content .side .mat-toolbar .mat-toolbar-item:first-child {
    margin-left: 0;
}

.content .side .mat-toolbar .mat-toolbar-item:last-child {
    margin-right: 0;
}

.content .side .mat-toolbar .mat-toolbar-title-item {
    color: #007acc; font-weight: bold;
}

.content .side .mat-toolbar .mat-toolbar-space-item {
    flex: 1 1 auto;
}

.content .side .wrap .forms {
    margin: 0px 16px;
}

/* end of side */


/* Snack List Style. For displaying list of data at the snackbar content */

.snack-list {
  display: flex; flex-direction: column; 
}

.snack-list .snack-item {
  display: flex; flex-direction: row; justify-content: center; padding: 8px 16px;
}

.snack-list .snack-item:hover {
  background: #fafafa;
}

.snack-list .snack-item .data {
  flex: 1; display: flex; flex-direction: column; padding-right: 16px;
}

.snack-list .snack-item .data .key {
  font-size: 12px; color: #cacaca;
}

.snack-list .snack-item .data .desc {
  font-size: 14px;
}

.snack-list .snack-item .action {
  font-size: 16px; color: red;
}

/* end of snack list style */

/* Filter List Style. For displaying list of data at the side bar. */

.filter-list {
  display: flex; flex-direction: column;
}

.filter-list .filter-item {
  display: flex; flex-direction: row; align-items: flex-start;
  border-bottom: 1px solid #cacaca;
}

.filter-list .filter-header {
  display: flex; flex-direction: row; padding: 8px 16px; background: #fafafa;
}

.filter-list .filter-item:hover {
  background: #fafafa; cursor: pointer;
}

.filter-list .filter-item:last-child {
  border-bottom: none;
}

.filter-list .filter-item .filter-description {
  display: flex; flex-direction: column;
  flex: 1; padding: 8px 16px;
}

.filter-list .filter-item .filter-description .filter-title {
  font-size: 12px; color: #cacaca;
}

.filter-list .filter-item .filter-description .filter-data {
  font-size: 16px; font-weight: bold;
}

.filter-list .filter-item .filter-action {
  cursor: pointer; font-size: 18px;
  padding: 8px 0;
}

/* end of filter list */
