<div class="wrap">
    <mat-toolbar class="mat-toolbar">
        <span class="mat-toolbar-item mat-toolbar-title-item mat-toolbar-space-item">Pilih Kecamatan</span>
        <button class="mat-toolbar-item" mat-icon-button (click)="closePanelHandler()">
            <mat-icon>close</mat-icon>
        </button>
    </mat-toolbar>
    <!-- <tree-host [tree]="treeClient.tree"></tree-host> -->
    <div class="filter-list">
        <div class="filter-item" *ngFor="let i of items" (click)="itemSelectedHandler(i)">
            <div class="filter-description">
                <span class="filter-title">{{i.kode}}</span>
                <span class="filter-content">{{i.nama}}</span>
            </div>
        </div>
    </div>
</div>