<ul class="tree-node" [style.marginLeft.px]="(tree.level*16)">
    <li class="tree-child-node">
        <button mat-icon-button class="tree-child-toggle-node" (click)="treeExpandedHandler(this)" *ngIf="tree.node.length > 0">
            <mat-icon *ngIf="this.treeDirective.viewContainerRef.length <= 0">keyboard_arrow_right</mat-icon>
            <mat-icon *ngIf="this.treeDirective.viewContainerRef.length > 0">keyboard_arrow_down</mat-icon>
        </button>
        <button mat-icon-button class="tree-child-toggle-node" disabled *ngIf="tree.node.length <= 0">
            <mat-icon >remove</mat-icon>
        </button>
        <span class="tree-child-label-node" (click)="treeNodeSelectedHandler(tree)">{{tree.text}}</span>
    </li>
    <ng-template tree-host></ng-template>
</ul>
