.tree-node {
    margin: 0; padding: 0; list-style: none;
}

.tree-node .tree-child-node {
    display: flex; align-items: center;
    cursor: pointer;
}

.tree-node .tree-child-node .tree-child-toggle-node {
    align-self: flex-start; margin: 0 8px 0 0; flex-basis: auto;
}

.tree-node .tree-child-node .tree-child-label-node {
    flex: 1 1 auto; margin: 8px 0; font-size: 14px; text-transform: capitalize;
}