<div class="container">
    <header [title]="title" (onToggleSidenav)="toggleSidenavHandler()"></header>
    <mat-sidenav-container class="mat-sidenav-container">
        <mat-sidenav 
            class="mat-sidenav"
            [opened]="tabletQuery.matches === false" 
            [mode]="tabletQuery.matches ? 'over' : 'side'">
                <mat-nav-list dense>
                    <h3 routerLink="jenis" mat-subheader style="outline: none; display: flex; justify-content: center; cursor: pointer; padding-top: 8px; padding-bottom: 8px; font-size: 14px; font-weight: bold;">
                        <span>Jenis</span>
                        <span style="flex: 1 1 auto"></span>
                    </h3>
                    <router-outlet name="outlet-jenis"></router-outlet>
                    <mat-divider style="margin: 8px 0"></mat-divider>
                    <h3 routerLink="daftar" mat-subheader style="outline: none; display: flex; justify-content: center; cursor: pointer; padding-top: 8px; padding-bottom: 8px; font-size: 14px; font-weight: bold;">
                        <span>Daftar</span>
                        <span style="flex: 1 1 auto"></span>
                    </h3>
                    <router-outlet name="outlet-daftar"></router-outlet>
                    <mat-divider style="margin: 8px 0"></mat-divider>
                    <h3 routerLink="rpjmd" mat-subheader style="outline: none; display: flex; justify-content: center; cursor: pointer; padding-top: 8px; padding-bottom: 8px; font-size: 14px; font-weight: bold;">
                        <span>Perencanaan Menengah</span>
                        <span style="flex: 1 1 auto"></span>
                    </h3>
                    <router-outlet name="outlet-rpjmd"></router-outlet>
                </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content class="mat-sidenav-content">
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>