.container {
    display: flex;
    flex-direction: column; height: 100%;
}

.mat-toolbar {
    background: #007acc; 
    color: #fff;
}

.mat-toolbar .mat-toolbar-item {
    margin: 0 8px;
}

.mat-toolbar .mat-toolbar-item:first-child {
    margin-left: 0;
}

.mat-toolbar .mat-toolbar-item:last-child {
    margin-right: 0;
}

.mat-toolbar .mat-toolbar-title-item {
    font-weight: bolder; text-transform:uppercase; font-size: 16px;
}

.mat-sidenav-container {
    flex: 1;
}

.mat-sidenav-container .mat-sidenav {
    width: 272px; background: #fafafa; border-right: 1px solid #cacaca; 
}

