.mat-form-field {
    width: 100%;
}
.mat-form-field .mat-label {
    font-weight: bold; color: #007acc;
}
.mat-form-field .mat-input {
    padding: 4px 0px 0px 0px; font-size: 14px; font-weight: 500;
}
.mat-toolbar {
    display: flex; flex-direction: row; align-items: center;
    background: #fff;
}
.mat-toolbar-secondary {
    padding-bottom: 16px;
}
.mat-toolbar .mat-toolbar-item {
    margin: 0 4px;
}
.mat-toolbar .mat-toolbar-item:first-child {
    margin-left: 0;
}
.mat-toolbar .mat-toolbar-item:last-child {
    margin-right: 0;
}
.mat-toolbar .mat-toolbar-title-item {
    color: #007acc; font-weight: bold;
}
.mat-toolbar .mat-toolbar-space-item {
    flex: 1 1 auto;
}
.wrap .forms {
    margin: 0px 16px;
}