.mat-toolbar {
    background: #007acc; 
    color: #fff;
}

.mat-toolbar .mat-toolbar-item {
    margin: 0 8px;
}

.mat-toolbar .mat-toolbar-item:first-child {
    margin-left: 0;
}

.mat-toolbar .mat-toolbar-item:last-child {
    margin-right: 0;
}

.mat-toolbar .mat-toolbar-title-item {
    font-weight: bolder; text-transform:uppercase; font-size: 16px;
}