<mat-toolbar class="mat-toolbar">
  <button class="mat-toolbar-item" mat-icon-button (click)="toggleSidenavHandler()">
      <mat-icon>dashboard</mat-icon>
    </button>
  <span class="mat-toolbar-item mat-toolbar-title-item">{{title}}</span>
</mat-toolbar>
 