<div class="wrap">
    <mat-toolbar class="mat-toolbar">
        <span class="mat-toolbar-item mat-toolbar-title-item mat-toolbar-space-item">Detail</span>
        <button class="mat-toolbar-item" mat-icon-button (click)="closePanelHandler()">
            <mat-icon>close</mat-icon>
        </button>
    </mat-toolbar>
    <mat-toolbar class="mat-toolbar mat-toolbar-secondary">
        <span class="mat-toolbar-space-item"></span>
        <button class="mat-toolbar-item" mat-button (click)="deleteHandler()">
            <mat-icon>delete_sweep</mat-icon>
            <span>Hapus</span>
        </button>
    </mat-toolbar>
    <div class="forms">
        <mat-form-field class="mat-form-field">
            <mat-label class="mat-label">Kode</mat-label>
            <input class="mat-input" [(ngModel)]="item.unitOrganisasi.kode" matInput disabled />
        </mat-form-field>
        <mat-form-field class="mat-form-field">
            <mat-label class="mat-label">Nama</mat-label>
            <input class="mat-input" [(ngModel)]="item.unitOrganisasi.nama" matInput disabled />
        </mat-form-field>
        <mat-form-field class="mat-form-field">
            <mat-label class="mat-label">Akrounit</mat-label>
            <input class="mat-input" [(ngModel)]="item.unitOrganisasi.akrounit" matInput disabled />
        </mat-form-field>
        <mat-form-field class="mat-form-field">
            <mat-label class="mat-label">Alamat</mat-label>
            <textarea class="mat-input" [(ngModel)]="item.unitOrganisasi.alamat" matInput matTextareaAutosize disabled></textarea>
        </mat-form-field>
        <mat-form-field class="mat-form-field">
            <mat-label class="mat-label">Telepon</mat-label>
            <input class="mat-input" [(ngModel)]="item.unitOrganisasi.telepon" matInput disabled />
        </mat-form-field>
    </div>
</div>