<div class="content">
    <div class="main">
        <sub-header-with-filter 
            [title]="title"
            (onSearchChanged)="onSearchChanged($event)">
        </sub-header-with-filter>
        <div matSort class="display" [class.collapse-display]="uiClient.uiData.state.deleteState && uiClient.uiData.state.binState">
            <mat-table [dataSource]="dataSource" *ngIf="uiClient.uiData.filter.length > 0 && !uiClient.uiData.state.deleteState">
                <ng-container matColumnDef="nomor">
                    <mat-header-cell *matHeaderCellDef mat-sort-header [style.flexGrow]="1">Nomor</mat-header-cell>
                    <mat-cell *matCellDef="let row" [style.flexGrow]="1">{{row.nomor}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="nama">
                    <mat-header-cell *matHeaderCellDef [style.flexGrow]="3">Nama</mat-header-cell>
                    <mat-cell *matCellDef="let row" [style.flexGrow]="3">{{row.nama}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="spesifikasi">
                    <mat-header-cell *matHeaderCellDef mat-sort-header [style.flexGrow]="1">Spesifikasi</mat-header-cell>
                    <mat-cell *matCellDef="let row" [style.flexGrow]="1">{{row.spesifikasi}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="satuan">
                    <mat-header-cell *matHeaderCellDef [style.flexGrow]="1">Satuan</mat-header-cell>
                    <mat-cell *matCellDef="let row" [style.flexGrow]="1">{{row.satuan}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="harga">
                    <mat-header-cell *matHeaderCellDef mat-sort-header [style.flexGrow]="1">Harga</mat-header-cell>
                    <mat-cell *matCellDef="let row" [style.flexGrow]="1">{{row.harga}}</mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: columns;" (click)="rowSelectedHandler(row)"></mat-row>
            </mat-table>
            <mat-table [dataSource]="dataSource" *ngIf="uiClient.uiData.filter.length > 0 && uiClient.uiData.state.deleteState">
                <ng-container matColumnDef="nomor">
                    <mat-header-cell *matHeaderCellDef mat-sort-header [style.flexGrow]="1">Nomor</mat-header-cell>
                    <mat-cell *matCellDef="let row" [style.flexGrow]="1" [class.mat-cell-selected]="row.isSelected">{{row.nomor}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="nama">
                    <mat-header-cell *matHeaderCellDef [style.flexGrow]="3">Nama</mat-header-cell>
                    <mat-cell *matCellDef="let row" [style.flexGrow]="3" [class.mat-cell-selected]="row.isSelected">{{row.nama}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="spesifikasi">
                    <mat-header-cell *matHeaderCellDef mat-sort-header [style.flexGrow]="1">Spesifikasi</mat-header-cell>
                    <mat-cell *matCellDef="let row" [style.flexGrow]="1" [class.mat-cell-selected]="row.isSelected">{{row.spesifikasi}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="satuan">
                    <mat-header-cell *matHeaderCellDef [style.flexGrow]="1">Satuan</mat-header-cell>
                    <mat-cell *matCellDef="let row" [style.flexGrow]="1" [class.mat-cell-selected]="row.isSelected">{{row.satuan}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="harga">
                    <mat-header-cell *matHeaderCellDef mat-sort-header [style.flexGrow]="1">Harga</mat-header-cell>
                    <mat-cell *matCellDef="let row" [style.flexGrow]="1" [class.mat-cell-selected]="row.isSelected">{{row.harga}}</mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: columns;" (click)="selectionHandler(row)" [class.mat-row-selected]="row.isSelected"></mat-row>
            </mat-table>
        </div>
        <mat-toolbar 
            class="snackbar" 
            [class.snackbar-extras]="uiClient.uiData.state.deleteState && uiClient.uiData.state.binState" 
            *ngIf="uiClient.uiData.filter.length > 0 && uiClient.uiData.state.deleteState">
            <span class="space"></span>
            <button class="item" mat-button color="warn" (click)="deleteItemsHandler()">Hapus Data Terpilih</button>
            <button class="item" mat-icon-button (click)="toogleSnackbarHandler()">
                <mat-icon *ngIf="!uiClient.uiData.state.binState">keyboard_arrow_up</mat-icon>
                <mat-icon *ngIf="uiClient.uiData.state.binState">keyboard_arrow_down</mat-icon>
            </button>
        </mat-toolbar>
        <div class="snackbar-content" 
            *ngIf="uiClient.uiData.filter.length > 0 && uiClient.uiData.state.deleteState && uiClient.uiData.state.binState">
            <div class="snack-list">
                <div *ngFor="let item of items">
                    <div class="snack-item" *ngIf="item.isSelected">
                        <div class="data">
                            <span class="key">{{item.nomor}}</span>
                            <span class="desc">{{item.nama}}</span>
                        </div>
                        <button mat-icon-button (click)="selectionHandler(item)">
                            <mat-icon class="action">remove_circle</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="side" *ngIf="(uiClient.uiData.state.detailState || uiClient.uiData.state.createState || uiClient.uiData.state.filterState)">
        <standar-harga-detail 
            *ngIf="uiClient.uiData.filter.length > 0 && uiClient.uiData.state.detailState"
            [standarHarga]="standarHarga"
            (onItemUpdated)="onItemUpdated($event)"
            (onItemDeleted)="onItemDeleted($event)">
        </standar-harga-detail>
        <create-standar-harga 
            *ngIf="uiClient.uiData.filter.length > 0 && uiClient.uiData.state.createState"
            (onItemCreated)="onItemCreated($event)">
        </create-standar-harga>
        <standar-harga-filter 
            *ngIf="uiClient.uiData.state.filterState"
            (onFilterResultChanged)="onFilterResultChanged()">
        </standar-harga-filter>
    </div>
</div>
