<div class="content">
    <div class="main">
        <sub-header-with-filter [title]="title" (onSearchChanged)="onSearchChanged($event)">
        </sub-header-with-filter>
        <div matSort class="display">
            <mat-table [dataSource]="dataSource" *ngIf="uiClient.uiData.filter.length > 0 && !uiClient.uiData.state.deleteState">
                <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: columns;" (click)="rowSelectedHandler(row)"></mat-row>
            </mat-table>
            <mat-table [dataSource]="dataSource" *ngIf="uiClient.uiData.filter.length > 0 && uiClient.uiData.state.deleteState">
                <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: columns;" (click)="selectionHandler(row)" [class.mat-row-selected]="row.isSelected"></mat-row>
            </mat-table>
        </div>
    </div>
    <div class="side" *ngIf="(uiClient.uiData.state.detailState || uiClient.uiData.state.createState || uiClient.uiData.state.filterState)">
        <!-- <standar-harga-detail *ngIf="uiClient.uiData.filter.length > 0 && uiClient.uiData.state.detailState" [standarHarga]="standarHarga"
            (onItemUpdated)="onItemUpdated($event)" (onItemDeleted)="onItemDeleted($event)">
        </standar-harga-detail>
        <create-standar-harga *ngIf="uiClient.uiData.filter.length > 0 && uiClient.uiData.state.createState" (onItemCreated)="onItemCreated($event)">
        </create-standar-harga>
        <standar-harga-filter *ngIf="uiClient.uiData.state.filterState" (onFilterResultChanged)="onFilterResultChanged()">
        </standar-harga-filter> -->
    </div>
</div>