<div class="wrap">
    <mat-toolbar class="mat-toolbar">
        <span class="mat-toolbar-item mat-toolbar-title-item mat-toolbar-space-item">Detail</span>
        <button class="mat-toolbar-item" mat-icon-button (click)="closePanelHandler()">
            <mat-icon>close</mat-icon>
        </button>
    </mat-toolbar>
    <mat-toolbar class="mat-toolbar mat-toolbar-secondary">
        <span class="mat-toolbar-space-item"></span>
        <button class="mat-toolbar-item" mat-icon-button (click)="updateHandler()">
            <mat-icon>mode_edit</mat-icon>
        </button>
        <button class="mat-toolbar-item" mat-icon-button (click)="deleteHandler()">
            <mat-icon>delete_sweep</mat-icon>
        </button>
    </mat-toolbar>
    <div class="forms">
        <mat-form-field class="mat-form-field">
            <mat-label class="mat-label">Kode</mat-label>
            <input class="mat-input" matInput [(ngModel)]="item.kode" />
        </mat-form-field>
        <mat-form-field class="mat-form-field">
            <mat-label class="mat-label">Nama</mat-label>
            <input class="mat-input" matInput [(ngModel)]="item.nama" />
        </mat-form-field>
        <mat-form-field class="mat-form-field">
            <mat-label class="mat-label">Keterangan</mat-label>
            <textarea class="mat-input" [(ngModel)]="item.keterangan" matInput></textarea>
        </mat-form-field>
    </div>
</div>